* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

body {
    background-image: url(../img/burguer1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
    width: 90%;
    max-width: 1300px;
    height: 40px;
}

.menu ul{
    display: flex;
    gap: 60px;
}

.menu ul li {
    list-style: none;
}

.menu a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}

.menu a:hover {
    color: #9acd32;
    transition: 0.5s;
}

.register a {
    text-decoration: none;
    background-color: yellowgreen;
    color: #fff;
    font-weight: bolder;
    padding: 10px 30px;
    border-radius: 25px;
    display: flex;
}

.register a:hover {
    color: #9acd32;
    background-color: #fff;
    transition: 0.5s;
}

.layout {
    margin: 50px;
    width: 90%;
    max-width: 1300px;
}

.layout div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
}

.layout h1 {
    font-size: 6vw;
    color: #fff;
    margin: 15px 0;
}

.layout h2 {
    font-size: 6vw;
    color: #9acd32;
    margin: 15px 0;
}

.layout p {
    font-size: 1.5vw;
    color: #fff;
    line-height: 30px;
    width: 700px;
}
